.title {
  margin-bottom: 24px;
}

.controls {
  margin-bottom: 32px;
}

.controlsRow {
  display: flex;
  margin-top: 24px;
}

.autocomplete {
  max-width: 513px;
}

.pagination {
  margin-top: 32px;
}