.title {
  margin-bottom: 24px;
}

.controls {
  margin-bottom: 32px;
}

.controlsRow {
  display: flex;
  margin-top: 24px;
}

.autocomplete {
  max-width: 513px;
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-gap, 8px);
  padding-bottom: 8px;
}

.pagination {
  margin-top: 32px;
}