:root {
  --primary-teal: #0bc7e3;
  --primary-green: #08e193;
  --secondary-red: #f35757;
  --secondary-green: #37c75f;
  --secondary-gray: #272a2e;
  --secondary-light-gray: #49525f;
  --black-black-1: #171717;
  --black-black-2: #17191c;
  --black-black-3: #828282;
  --white-white-1: #fff;
  --white-white-2: #f8f8f8;
  --white-white-3: #bdbdbd;
  --dark-bg-dark-bg-1: #0f1011;
  --dark-bg-dark-bg-2: #171a1e;
  --dark-bg-dark-bg-3: #292d32;
  --grey: #929e9f;
  --light-grey-1: #e4e4e4;
}
